<!DOCTYPE html>

<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}{% if article %} - {{ article.title }}{% endif %}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}

        {% block js %} <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/jquery/dist/jquery.min.js"></script> <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        {% endblock js %}

        {% block css %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/parsley.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/jquery-ui-1.10.4.custom.min.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" />
        <link href='//fonts.googleapis.com/css?family=Exo:100,500,100italic,500italic' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type='text/css'>
        {% endblock css %}
</head>

<body id="index" class="home">
  <header id="banner">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">{{ gettext('Toggle navigation') }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="{{ SITEURL }}">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/od500-logo.png" alt="{{ gettext('OpenData 500 Global Network') }}">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-articles">
            {%- for tag, articles in tags|sort %}
              {% if articles|count  == 1 %}
                {% set a = articles[0] %}
                {% if article and a.category == article.category %}
                <li>
                  <a href="{{ a.url }}">{{ tag }}</a>
                </li>
                {% endif %}
              {% else %}
                {% if article and articles[0].category == article.category %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ tag }}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    {% for a in articles %}
                      <li>
                        <a href="{{ a.url }}">{{ a.dropdown_title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
            {#
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          #}
          <ul class="nav navbar-nav navbar-right">
            {% if article and article.translations %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ DEFAULT_LANG }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for translation in article.translations if translation.category == article.category %}
                <li><a href="{{ main_siteurl }}/{{ translation.url }}">{{ translation.lang }}</a></li>
                {% endfor %}
                {#
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                #}
              </ul>
            </li>
            {% endif %}
            <li><a class="b-poly-logo" href="http://engineering.nyu.edu/">
              <div class="poly-logo"> </div>
            </a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header><!-- /#banner -->
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <footer>
    <div class="container">
      <div class="pull-left footer-logos">
        <a href="http://thegovlab.org/">
          <img id="govlab-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/govlab-logo.png" alt="The GovLab">
        </a>
      </div>
      <ul>
        <li class="footer-menu-item"><a href="https://twitter.com/opendata500" target="_blank">Twitter</a></li>
        <!--<li class="footer-menu-item"><a href="/us/about/" target="_blank">About</a></li>-->
        <li class="footer-menu-item last"><a href="mailto:opendata500@thegovlab.org" target="_blank">Contact Us</a></li>
      </ul>
      <p class="creative-commons-license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a>
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">
          The Open Data 500
        </span> by
        <a xmlns:cc="http://creativecommons.org/ns#" href="http://thegovlab.org/" property="cc:attributionName" rel="cc:attributionURL">
          The GovLab
        </a> is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          Creative Commons Attribution-ShareAlike 4.0 International License
        </a>.<br />
        Based on a work at
        <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/govlab/od500-static" rel="dct:source">
          https://github.com/govlab/od500-static
        </a>.
      </p>
    </div>
  </footer><!-- end footer -->
</body>
</html>
