{% extends "article.html" %}

{% block content %}
{{ super() }}

{% set countryname = category.name %}
{% set country = COUNTRIES[category.name] %}
{#{% set agencies = AGENCIES|selectattr('country', category.name) %}#}
{#{% set companies = COMPANIES|selectattr('country', category.name) %}#}

<div class="m-candidates">
  <div class="m-filter-menu">
    <h3>Federal Agency</h3>
    <div id="filters-agency" class="m-candidates-buttons button-group" data-toggle="buttons-checkbox" data-filter-group="category">
      <button data-filter="*">Clear Filter</button>
      {% for agency in AGENCIES %}
        {% if agency['country'] == countryname %}
          {% if agency.name|replace("Department", "Dept.")|replace("Development", "Dev.")|length > 32 and agency.abbrev %}
            <button data-filter=".{{agency.prettyName}}">{{ agency.abbrev }}</button>
          {% else %}
            <button data-filter=".{{agency.prettyName}}">{{ agency.name|replace("Department", "Dept.")|replace("Development", "Dev.")|replace(" and ", " & ")|replace(".", "") }}</button>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="m-filter-menu">
    <h3>Sector</h3> <div id="filters-category" class="m-candidates-buttons button-group" data-toggle="buttons-checkbox" data-filter-group="category"> <button data-filter="*">Clear Filter</button>
      {% for cat in country['categories'] %}
        <button data-filter=".{{ cat|slugify }}">{{ cat }}</button>
      {#<button data-filter=".{{ re.sub(r'([^\s\w])+', '', cat).replace(" ", "-").lower() }}">{{ cat }}</button>#}
      {% endfor %}
    </div>
  </div>
  <div id="chart"></div>

  <div class="button-group legend" id="legend">
    <div class="filter-by">
      <span>Filter by:  </span>
    </div>
    <div class="data-filters">
      <div class="survey-filter" data-filter-group="survey">
        <button class="color survey" data-filter=".survey-company">Submitted Survey</button>
        <button class="color candidate" data-filter=":not(.survey-company)">No Survey Submitted</button>
        <button class="color all" data-filter="*">Clear Filter</button><br>
      </div>
      <div class="company-type-filter" data-filter-group="company-type">
        <button class="color public" data-filter=".public">Public</button>
        <button class="color private" data-filter=".private">Private</button>
        <button class="color private" data-filter=".nonprofit">Non-profit</button>
        <button class="color non-profit" data-filter=":not(.nonprofit, .private, .public)">Other</button>
        <button class="color all" data-filter="*">Clear Filter</button><br>
      </div>
      <button class="clear-all-filters">Clear All Filters</button>
    </div>
  </div>

  <div id="spinner"></div>
  <div class="m-candidates isotopes-container" data-isotope-options='{ "layoutMode": "fitColumns" }'>
    {% for company in COMPANIES %}
      {% if company.country == countryname %}
        <div class="m-candidates-item{%for f in company.filters %} {{ f }}{%endfor%}">
          <a href="/{{company.country}}/{{company.prettyName}}"><h3><strong>{{ company.companyName }}</strong></h3></a>
          {#<p class="m-homepage-list-location"> {%try%}{{ states[country][company.state] }}{%except%}{%end%}</p>#}
          <em>{{ company.companyCategory }}</em>
          <p class="m-homepage-list-desc">{{ company.descriptionShort }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/d3/d3.min.js"></script>
<!--<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/queue.v1.min.js"></script>-->
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/isotope/dist/isotope.pkgd.min.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/spin/javascripts/jquery.spin.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/list.js"></script>

{% endblock content %}
