{% extends "article.html" %}

{% block content %}
{{ super() }}

<div class="country-selector">
  {% for category, articles in categories %}
    {% if category in COUNTRIES %}
      <a href="{{ SITEURL }}/{{ category.url }}">
        <div class="col-sm-4 flag flag-{{ category }}">
          <h2>{% trans country=COUNTRIES.get(category.name).name %}{{ country }}{% endtrans %}</h2>
        </div>
      </a>
    {% endif %}
  {% endfor %}
  <a href="mailto:opendata500@thegovlab.org?subject=OD500+in+my+country">
    <div class="col-sm-4 flag in-your-country">
      <h2>OD500 in Your Country</h2>
    </div>
  </a>
</div>
{% endblock content %}
