@import url(http://fonts.googleapis.com/css?family=Quicksand|Ubuntu|Muli|Roboto);

.navbar {
  background-color: #472b74;
  border-bottom: 5px solid #8977a7;
}

.logo img {
  width: 120px; }

.poly-logo {
  background-image: url(/theme/img/poly_logo.png);
  background-size: cover;
  width: 297px;
  height: 40px; }

footer {
  background-color: #444444;
  padding: 20px 0;
  overflow: hidden;
  clear: both;
  margin-top: 30px;
  color: #aaaaaa; }
  footer a {
    color: #aaaaaa; }
  footer a:hover {
    color: white; }
  footer .m-footer-logos {
    float: left; }
    footer .m-footer-logos img {
      height: 37px;
      margin-right: 30px;
      opacity: .4; }
    footer .m-footer-logos a:hover img {
      opacity: 1; }
    footer .m-footer-logos #govlab-logo {
      height: 30px;
      vertical-align: 2px; }
  footer ul {
    text-align: right; }
  footer .footer-menu-item {
    display: inline-block;
    padding: 2px 10px;
    border-right: 1px solid #888;
    margin-top: 10px; }
  footer .footer-menu-item.last {
    border-right: 0; }
  footer .creative-commons-license {
    margin-top: 30px;
    font-size: 11px; }
    footer .creative-commons-license img {
      float: left;
      margin-right: 10px; }

